<div class="alert alert-danger w-50" id='error' role="alert">
    This link already exists in the database! Please try another link to Tinyfy :D
        <button type="button" class='btn btn-light btn-sm' id= 'error-btn' style='margin-left: 30px;'>X</button>
</div>