<link href='/css/error.css' rel='stylesheet' type='text/css'>
<div id="error">
    <h5>This link already exists in the database! Please try another link to 'Tinyfy' &#128561</h5>
    <button type="button" id="error-btn"><p>X</p></button>
</div>