<link href='/css/header.css' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

<nav>
  <ul class='container'>
    <li id='logo'><a href='/'>TinyApp</a></li>
    <li><a href='/urls'>My URLs</a></li>
    <li id='create-url'><a href="/urls/new">Create New URL</a></li>
    <% if (user) { %>
    <div id='end'>
      <li class='button-left'>
        <form method="POST" action="/logout">
          <button type="submit">Log Out</button>
        </form>
      </li>
    </div>
    <% } else  { %>
    <div id='end'>
      <li class='button-left'>
        <a href="/register">
          <button type="button">
            Register
          </button>
        </a>
      </li>
      <li class='button-left'>
        <a href="/login">
          <button type="button">
            Login
          </button>
        </a>
      </li>
    </div>
    <% } %>
</nav>
<% if (user) { %>
  <div id='userID-container'>
    <p id='userID'>Logged in as: <%= user.email %></p>
  </div>
<% } %>