<header>
  <nav>
    <a href="/urls">TinyApp</a>
    <div>
      <div>
        <a href="/urls">My URLs</a>
        <a href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
        <form method="POST" action="/logout">
          <p>Logged in as: <%= user.email %>!</p>
          <button type="submit">Log Out</button>
        </form>
    <% } else  { %>
          <a href="/register">
            <button type="button">
              Register
            </button>
          </a>
          <a href="/login">
            <button type="button">
              Login
            </button>
          </a>
    <% } %>
  </nav>
</header>