<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New URL</title>
  </head>

  <body>
    <% include partials/_header %>
    <main>
      <h3>Create TinyURL</h3>
      <div>
        <form action="/urls" method="POST">
          <div>
            <label for="longURL">Enter a URL:</label>
            <input type="text" name="longURL" value="https://www.">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
  
</html>