<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='/css/home.css' rel='stylesheet' type='text/css'>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <div id='main-page'>
    <div id='main-info'>
      <h1>Create completely, absolutely, irrevocably secure, click-worthy links</h1>
      <p>Use our secure service to create a link you can be proud of.</p>
    </div>
    <div id='main-img'>
        <img src='https://docrdsfx76ssb.cloudfront.net/static/1567700736/pages/wp-content/uploads/2019/08/homepage-mobile.gif'/>
    </div>
  </div>
</body>
</html>