<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='/css/index.css' rel='stylesheet' type='text/css'>
  <title>URLs</title>
</head>

<body>
  <% include partials/_header.ejs %>
  <% if (errorMsg) { %>
    <% include partials/_error.ejs %>
  <% } %>
  <main>
    <h3 id="title">My URLs</h3>
    <table>
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
            <td><form method="POST" action='/urls/<%= url %>'>
              <button type="submit" id='edit'>EDIT</button>
            </form></button></td>
            <td><form method="POST" action='/urls/<%= url %>/delete?_method=DELETE'>
              <button type="submit" id='delete'>DELETE</button>
            </form></button></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <script>
    let errorMsg = document.querySelector('#error');
    let errorBtn = document.querySelector('#error-btn');
    errorBtn.addEventListener('click', () => {
      errorMsg.remove();
      errorBtn.remove();
    });
  </script>
</body>

</html>