* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body, html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 95%;
  color: #343a40;
}

.container {
  padding: 20px 0 20px 0;
  display: flex;
  border-bottom: 1px solid #343a40;
}

.container a {
  text-decoration: none;
  color: inherit;
}


.container li {
  font-size: 1.1em;
  padding: 20px 10px 15px 10px;
  list-style-type: none;
  transition: 0.1s ease-out;
  color: #343a40;
}

.container li:hover {
  transform: scale(1.07);
  color: #A5A4A4;
}

#logo {
  padding: 0 30px 0 0;
  font-size: 3em;
}

#logo:hover {
  color: #343a40;
}

#end-status {
  display: flex;
  flex-direction: row;
}

#end {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

#end button {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  color: #343a40;
  background-color: inherit;
}

#end button:hover {
  cursor: pointer;
  color: #A5A4A4;
}

#userID-container {
  text-align: center;
}

#userID {
  display: inline-block;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 10px 10px 10px 10px;
  color: #f8f9fa;
  background-color: #00A7C4;
}
