main {
  text-align: center;
  width: 100%;
  color: #343a40;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  background-color: inherit;
  transition: 0.1s ease-out;
}

button:hover {
  cursor: pointer;
}

#delete {
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 4px;
  border-radius: 7px;
}

#delete:hover {
  color: #f8f9fa;
  background-color: #dc3545;
}

#edit {
  color: #28a745;
  border: 1px solid #28a745;
  padding: 4px;
  border-radius: 7px;
}

#edit:hover {
  color: #f8f9fa;
  background-color: #28a745;
}

#title {
  display: inline-block;
  font-size: 2em;
  margin: 50px 0 50px 0;
  text-align: center;
  width: 150px;
  border-bottom: 1px solid #343a40;
}

table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

table th {
  font-size: 1.3em;
  padding-bottom: 20px;
}