main {
  text-align: center;
  width: 100%;
  color: #343a40;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  background-color: inherit;
  transition: 0.1s ease-out;
}

button:hover {
  cursor: pointer;
}

#title {
  display: inline-block;
  font-size: 2em;
  margin: 50px 0 50px 0;
  text-align: center;
  width: 100px;
}

#title:after {
  content: ' ';
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 18px;
  border: 1px solid #343a40;
}

#register-form {
  display: flex;
  flex-direction: column;
}

#register-form button {
  font-size: 1.2em;
  width: 100px;
  margin: 0 auto;
  padding: 4px;
  color: #800000;;
  border: 2px solid #800000;;
  border-radius: 7px;
}

#register-form button:hover {
  color: #f8f9fa;
  background-color: #800000;;
}

input {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid #800000;
  color: #800000;
}

input:focus, textarea {
  outline: none !important;
}
